<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list class="messageList">    

        <div *ngFor="let message of MessageData" class="{{message.read}}">
        <ion-item class="{{message.read}}" *ngIf="message.read === 'false'">
          <ion-grid>
            <ion-row>
              <ion-col col-2 class="avatar">

              <div *ngIf="message.type === 'companyMessage'">
                <span (click)="getMessageDetail(message)">
                    <img [src]="message.avatar">
                </span>
              </div>

              <div *ngIf="message.type !== 'companyMessage'">
                <span (click)="goToProfile(message.requestorID)">
                    <img [src]="message.avatar">
                </span>
              </div>
              
              </ion-col>
              <ion-col col-8 class="message">
                  <h5>{{message.header}}</h5>
                  <p>{{message.message}}</p>
              </ion-col>

              <!-- Friend Requests -->
              <div *ngIf="message.type === 'friendRequest'">
                <ion-col col-3 class="confirmation">
                  <span><img (click)="declineFriend(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                  <span><img (click)="approveFriend(message.requestorID, message.messageID)" src="assets/img/icons-checkmark.svg"/></span>
                </ion-col>
              </div>

              <!-- Squad Requests -->
              <div *ngIf="message.type === 'squadRequest'">
                <ion-col col-3 class="confirmation">
                    <span><img (click)="declineSquad(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                    <span><img (click)="approveSquad(message.requestorID, message.messageID)" src="assets/img/icons-checkmark.svg"/></span>
                </ion-col>
              </div>

              <!-- Game Invitation -->
              <div *ngIf="message.type === 'gameInvitation'">
                  <ion-col col-3 class="confirmation">
                      <span><img (click)="declineGame(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                      <span><img (click)="joinGame(message.requestorID, message.messageID)" src="assets/img/icons-checkmark.svg"/></span>
                  </ion-col>
                </div>
                
              <!-- Company Message -->
              <div *ngIf="message.type === 'companyMessage'">
                  <ion-col col-3 class="confirmation">
                      <span><img (click)="markAsRead(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                      <span><img (click)="getMessageDetail(message)" src="assets/img/icons-checkmark.svg"/></span>
                  </ion-col>
                </div>
                
            </ion-row>
          </ion-grid>
        </ion-item>
        </div>

      </ion-list>
  
</ion-content>
