<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>    

        <div *ngFor="let message of MessageData" class="{{message.read}}">
        <ion-item class="{{message.read}}">
          <ion-grid>
            <ion-row>
              <ion-col col-2 class="avatar">
              <span (click)="goToProfile(message.requestorID)">
                  <img [src]="message.avatar">
              </span>          
              </ion-col>
              <ion-col col-8 class="message">
                  <h5>{{message.header}}</h5>
                  <p>{{message.message}}</p>
              </ion-col>

              <!-- Friend Requests -->
              <div *ngIf="message.type === 'friendRequest'">
                <ion-col col-3 class="confirmation" *ngIf="message.read === 'false'">
                  <span><img (click)="declineFriend(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                  <span><img (click)="approveFriend(message.requestorID, message.messageID)" src="assets/img/icons-checkmark.svg"/></span>
                </ion-col>

                <ion-col col-3 class="confirmation" *ngIf="message.read === 'true'">
                  <p class="response">{{message.response}}</p>
                </ion-col>
              </div>

              <!-- Squad Requests -->
              <div *ngIf="message.type === 'squadRequest'">
                <ion-col col-3 class="confirmation" *ngIf="message.read === 'false'">
                    <span><img (click)="declineSquad(message.messageID)" src="assets/img/icons-cancel.svg"/></span>
                    <span><img (click)="approveSquad(message.requestorID, message.messageID)" src="assets/img/icons-checkmark.svg"/></span>
                </ion-col>

                <ion-col col-3 class="confirmation" *ngIf="message.read === 'true'">
                    <p class="response">{{message.response}}</p>
                </ion-col>
              </div>

            </ion-row>
          </ion-grid>
        </ion-item>
        </div>

      </ion-list>
  
</ion-content>
