page-messages {
    .scroll-content {
        margin: 0 -15px;
    }
    ion-list {
        border-top: 1px solid #888 !important;
    }
    .avatar {
        position: relative;
        left:0;
        span {
            margin-left: -5px;
            width:45px;
            height:45px;
            border-radius: 50px;
            display:block;
            overflow: hidden;
                img {
                    width:60px;
                    height:auto;
                }
        }
    }
    .message {
        margin-left: -10px;
    }
    .confirmation { 
        position: absolute;
        right: 0;
        img {
            width: 30px;
            float: right;
            margin-right: 5px;
        }
    }
    ion-item.item.item-block {
        background: transparent;
        border-bottom: 1px solid #888 !important;
        padding-bottom: 10px;
        h2 {
            color:#fff;
            font-weight: bold;
        }
        p {
            color:#eee;
            font-weight: normal;
        }
    }
}
