page-messages {
    .scroll-content {
        margin: 0 -15px;
    }
    h5 {
        margin-left: 20px;
    }
    ion-list {
        border-top: 1px solid #888 !important;
    }
    .avatar {
        position: relative;
        left:5px;
        span {
            margin-left: 0px;
            width:45px;
            height:45px;
            border-radius: 50px;
            display:block;
            overflow: hidden;
                img {
                    width:60px;
                    height:auto;
                }
        }
    }
    .confirmation { 
        position: absolute;
        right: 0;
        img {
            width: 30px;
            float: right;
            margin-right: 5px;
        }
    }
    .false .input-wrapper {
        background-color: #111;
    }
    .item-inner {
        background: transparent;
        border-bottom: 1px solid #111 !important;
        margin-top: 2px;
        h2 {
            color:#fff;
            margin:0;
        }
        p {
            color:#eee;
            font-weight: normal;
            margin:0;
        }
    }
}
