page-connect {
    ion-segment.segment {
        border-bottom: 1px solid #888;
        .segment-button {
            background: transparent !important;
            border: none;
            text-transform: uppercase;
            color: #fff;
            line-height: 1em;
            &.segment-activated{
                border-bottom: 3px solid #fff;
            }
        }
    }
    ion-list {
        h5 {
            width:80%;
            font-size: 1em;
            text-align: center;
            margin: 0 auto;
            padding: 20px 0;
        }
        img {
            width:40px;
            height:auto;
        }
        div.squad-false  .item-inner {
            background-image: url(/assets/img/icons-plus.svg) !important;
        }
        div.squad-true .item-inner {
                background-image: url(/assets/img/icons-minus.svg) !important;
        }
        button.item-block {
            background: transparent !important;
            color:#fff;
            &:first-child,&:last-child {
                border: none !important;
            }
            &.friends .item-inner {
                background-image: none;
            }
            &.suggested .item-inner {
                background-image: url(/assets/img/icons-plus.svg) !important;
            }
            .item-inner{
                border-bottom: none !important;
            }
        }
    }
}
