<ion-header>
  <ion-navbar>
    <ion-title>Connect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="connect">
          <ion-segment-button value="friends">
            Friends
          </ion-segment-button>
          <ion-segment-button value="suggested">
            Suggested
          </ion-segment-button>
          <ion-segment-button value="contacts">
            Contacts
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="connect">            
        <ion-list *ngSwitchCase="'friends'">
            <div class="playerContainer">
              <p>My Squad</p>
              <div *ngFor="let friend of friends" class="playerLoop">
                <div class="player" *ngIf="friend.squad == 'true'">
                  <span class="imgContainer squad" (click)="goToProfile(friend.uid)"><img [src]="friend.img" /></span>
                </div>
                </div>
              </div> 
          <p>My Friends</p>
          <div *ngFor="let friend of friends">
            <ion-grid>
              <ion-row>
                <ion-col col-11>
                  <button ion-item class="squad" (click)="goToProfile(friend.uid)">
                    <span class="imgContainer"><img [src]="friend.img"/></span>{{ friend.username }}
                  </button>
                </ion-col>
                <ion-col col-1>
                    <div class="status friendStatus {{friend.status}} squadStatus {{friend.squad}}" (click)="requestRemoveSquad(friend.uid)"> </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>

        <ion-list *ngSwitchCase="'suggested'">
          <div *ngFor="let user of userData">
            <ion-grid>
                <ion-row>
                  <ion-col col-11>
                    <button ion-item class="suggested" (click)="goToProfile(user.uid)">
                      <span class="imgContainer"><img [src]="user.img"/></span>{{ user.username }}
                    </button> 
                  </ion-col>
                  <ion-col col-1>
                      <div class="status friendStatus"></div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </ion-list>

        <ion-list *ngSwitchCase="'contacts'">
            <button ion-button class="secondaryButton" (click)="showContacts()">Allow Access to Contacts</button>
             <div *ngFor="let user of userData" class="contactList" style="display:none;">
                 <ion-grid>
                     <ion-row>
                       <ion-col col-11>
                         <button ion-item class="suggested" (click)="goToProfile(user.uid)">
                           <span class="imgContainer"><img [src]="user.img"/></span>{{ user.username }}
                         </button> 
                       </ion-col>
                       <ion-col col-1>
                           <div class="status friendStatus"></div>
                       </ion-col>
                     </ion-row>
                 </ion-grid>
               </div>
             </ion-list>
      </div>
</ion-content>
