page-connect {
    .item-inner {
        background-image: none !important;
    }

    ion-segment.segment {
        border-bottom: 1px solid #888;
        .segment-button {
            background: transparent !important;
            border: none;
            text-transform: uppercase;
            color: #fff;
            line-height: 1em;
            &.segment-activated {
                border-bottom: 3px solid #fff;
            }
        }
    }
    .playerContainer {
        margin-top: -10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #888;
    }
    .playerLoop:last-child:after {
        clear: both;
        width:100%;
        height:10px;
        display: block;
        content:'';
    }
    ion-list {
        h5 {
            width:80%;
            font-size: 1em;
            text-align: center;
            margin: 0 auto;
            padding: 20px 0;
        }
        img {
            width:40px;
            height:auto;
        }
        div.status {
            background-size: 27px 27px !important;
            background-repeat: no-repeat;
            width: 2em;
            height: 2em;
            margin-top: 10px;
            &.friendStatus {
                background-size: 17px 17px !important;
                background-image: url(../assets/img/icons-plus.svg) !important;
                &.friends {
                   opacity: 0.5; 
                }
            }
            &.squadStatus{
                background-image: url(../assets/img/icons-star-empty.svg) !important;
              &.true {
                background-image: url(../assets/img/icons-star.svg) !important;
              }
            }
        }

        button.item-block {
            background: transparent !important;
            color:#fff;
            &:first-child,&:last-child {
                border: none !important;
            }
            &.friends .item-inner {
                background-image: none;
            }
            &.suggested .item-inner {
                background-image: url(../assets/img/icons-plus.svg);
            }
            .item-inner {
                border-bottom: none !important;
            }
        }
    }
}
