<ion-header>
  <ion-navbar>
    <button ion-button start class="avatarContainer" (click)="goToProfile()">
      <img class="avatar" src="{{avatar}}" />
    </button>
    <ion-title>
      <img src="assets/img/uballn-logo.png" />
    </ion-title>
    <button ion-button end (click)="seeMessages()">
        <img class="navIcon messages" src="assets/img/icons-message.svg"/>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="gameContainer" *ngFor="let game of gameLists | async" (click)="openGame(game)">
    <span class="gameBG" [style.backgroundImage]="'url(' + game.img + ')'"></span>
    <ion-list-header>
      <h2>{{ game.name }}</h2>
      <button ion-button item-left clear color="danger" icon-only (click)="removeList(game.$key)" *ngIf="editMode"><ion-icon name="remove-circle"></ion-icon></button>
    </ion-list-header>
    <ion-item>
      <ul class="gameDetails">
        <li><span><img [src]="game.creatorIMG" class="creator"/></span></li>
        <li><span><img src="assets/img/icons-players.svg"/></span> {{ game.stats.playerTotal }}</li>
        <li><span><img src="assets/img/icons-id.svg"/></span> {{ game.stats.avgAge }}</li>
        <li><span><img src="assets/img/icons-chart.svg"/></span> {{ game.stats.avgExp }}</li>
      </ul>
    </ion-item>
  </ion-list>

  <!-- <ion-fab right bottom padding>
    <button ion-fab (click)="newList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->
</ion-content>
