<ion-header>
  <ion-navbar>
      <button ion-button start (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      <ion-title>
      <img src="assets/img/uballn-logo.png" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" type="email"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty" no-lines>
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty" no-lines>
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <p class="formText small" (click)="resetPassword()">forgot your password?</p>

    <button ion-button block class="primaryButton" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
    <p class="formText small">By logging in, you agree to UBALLN’s <a href="#" (click)="showTerms()">Terms of Use</a> and <a href="#" (click)="showPrivacyPolicy()">Privacy Policy</a>.</p>

    <p class="formText small" (click)="goToSignup()">don't have an account? <a href="#">Sign Up!</a></p>

  </form>

</ion-content>
