page-terms {
    .modalContent{
        min-height:100%;
        margin: 0 -20px;
        a {
            color:#111;
            font-weight: bold;
        }
        ol {
            padding-left: 20px;
        }
    }
}
