page-welcome {
    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 30px;
    }
    .introLogo {
        height: 20%;
        img {
            max-width: 50%;
            margin: 20% auto 10px;
            display: block;
        }
    }
    ion-slides {
        max-height: 30%;
        position: absolute;
        bottom:200px;
        .slide-zoom {
            padding: 0 40px;
        }
    }
    .primaryButton {
        margin-bottom: 20px;
    }
    .swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff !important;
        opacity: 1;
    }
    form {
        position: absolute;
        bottom: 20px;
        width:100%;
    }
    .gifBG {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 300%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
}
