page-profile-page {
h2 {
  margin-top: -10px;
  margin-bottom: -10px;
}
  input.text-input {
    text-align:center;
    font-size: 1.2em;
}
.experience {
  width: 2em;
  text-align:left;
  max-width: 80px;
  input {
    text-align: left !important;
  }
}
ion-list.players {
  border-top: 1px solid #888;
  padding-top: 20px;
}
.imgWrapper {
  width:50px;
  height:50px;
  img {
    width:60px;
    height:auto !important;
  }
}
.player {
  float:left;
  font-size: 3em;
  width: calc(20% - 10px);
  margin-right:10px;
  position: relative;
  max-width: 70px;
  &#squad-true:after {
    content:'';
    width:25px;
    height:25px;
    border-radius: 10px;
    // background: #e6a000;
    background-image: url(../assets/img/icons-star.svg);
    display: block;
    bottom:0;
    right:5px;
    z-index: 10;
    position: absolute;
  }
  img {
    height: 45px;
  }
}
.imgContainer {
  width: 45px;
  height:45px;
    img {
      height:auto;
      width: auto;
    }
}
.profileBG {
    background-image: url(../assets/img/profileBG.png);
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
  }
.playerDetailPrimary {
  ion-col {
    height: 2em !important;
    margin: 0 auto 2em !important;
    input {
      text-align:center;
    }
    ion-input.playerName {
      margin: -20px auto;
    }
    .playerName input.text-input {
      text-align: center;
      color:#fff;
      opacity: 1 !important;
    }
  }
  .icon {
    width:30px;
    margin-top: 10px;
    &.lightning {
      float: left;
      margin-left: -10px;
    }
    &.chart {
      float: left;
    }
  }
  .points input, .icon.lightning {
    float: right !important;
    }
    .experience input, .icon.chart {
        float:right !important;
    }
  
    .points, .experience {
    width: calc(100% - 10px);
      input.text-input {
      width:2em;
      float:left;
    }
    .points {
      text-align: right;
    }
  }
    font-size: 1.2em;
  }
  .playerPageDetails {
    ion-col, ion-col input {
      text-align: center;
    }
      ion-col input {
        font-size: 2em;
        color: #76a5ff;
      }
      .sex input:first-letter {
          color:red;
        }
  }
  .invalid {
      border-bottom: 1px solid #ff0000;
    }
  .error-message {
      margin-top: -15px;
    }
    ion-input.weight input,
    ion-input.name input {
      text-align: right;
    }
    ion-label {
      opacity:0.5;
    }
    ion-select {
      max-width: 80%;      
      &.level{
      max-width: none;
      clear:both;
      display:block;
        ion-select {
          max-width: 70%;
        }
    }
  }
}
